{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Real-time updates</title>
    <link href="{% static 'css/examples.css' %}" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.canvaswrapper.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.colorhelpers.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.saturated.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.browser.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.drawSeries.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.uiConstants.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.legend.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.time.js' %}"></script>
	<script type="text/javascript">

	$(function() {

		var updateInterval = 3000;

		var datasets = {'PS0': {'label': 'PS0', 'data': []}}
		var i = 0;
		$.each(datasets, function(key, val) {
			val.color = i;
			++i;
		});

		var legendContainer = $("#legend");

		var choiceContainer = $("#choices");
		$.each(datasets, function(key, val) {
			choiceContainer.append("<br/><input type='checkbox' name='" + key +
				"' checked='checked' id='id" + key + "'></input>" +
				"<label for='id" + key + "'>"
				+ val.label + "</label>");
		});

		choiceContainer.find("input").click(plotAccordingToChoices);

		function plotAccordingToChoices(datas) {

			var data = [];

			choiceContainer.find("input:checked").each(function () {
				var key = $(this).attr("name");
				if (key && datas[key]) {
					data.push(datas[key]);
				}
			});

			if (data.length > 0) {
				var plot = $.plot("#placeholder", data, {
					series: { 	points: 	{ show: false },
								lines: 		{ lineWidth: 3, steps: true },
					 			shadowSize: 0 },
					legend: { show: true, position: 'sw', margin: -10 },
					yaxis: 	{ autoScale: "none", min: 0, max: 101 },
					xaxis: 	{ mode: "time", timezone: "browser", growOnly: true }
				});
			}
			return plot;
		}

		function update() {
			function plot_update(series) {

				$.each(series, function(key, val) {
					if (document.getElementById("id" + key) == null) {
						choiceContainer.append("<br/><input type='checkbox' name='" + key +
							"' checked='checked' id='id" + key + "'></input>" +
							"<label for='id" + key + "'>"
							+ val.label + "</label>");
					}
				});

				plotAccordingToChoices(series);
			}
			$.ajax({
				url: "dataurl",
				type: "GET",
				dataType: "json",
				success: plot_update
			});
			setTimeout(update, updateInterval);
		}
		update();

	});

	</script>
</head>
<body>
	<div id="header">
		<h2>SYS6 PageSets</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="float:left; width:675px;"></div>
			<p id="choices" style="float:right; width:135px;"></p>
		</div>

	</div>

</body>
</html>